/* Start Navbar Styles*/
.navbar-mine {
    overflow: hidden;
    background-color: rgb(70,70,70);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-mine .start {
    float: left;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: center;

    padding-top: 15px;
    padding-bottom: 16px;

    padding-left: 14px;
    padding-right: 6px;

    text-decoration: none;
}

.navbar-mine .inactive, .active {
    float: left;
    font-size: 16px;
    color: rgb(180,180,180);
    text-align: center;

    padding-top: 17px;
    padding-bottom: 16px;
    padding-left: 14px;
    
    text-decoration: none;
}

.navbar-mine .inactive:hover {
    color: rgb(235, 235, 235);
}

.navbar-mine .active, .active:hover {
    color: rgb(255, 255, 255);
    text-decoration: none; 
}

.small{
    display: none;
}

.dropdown-mine {
    float: right;
    padding-right: 14px;
    padding-top: 16px;
    overflow: hidden;
}

.dropdown-mine .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-mine-content {
    left: auto;
    right: 14px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-mine-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 16px;
}

.dropdown-mine-content a:hover {
    background-color: #ddd;
}

.show{
    display: block;
}
/*End Navbar Styles*/


.contact-icon{
    padding: 5px;
}

.section{
    margin-bottom: 2%;
}

#email{
    margin-bottom: -30px;
}

#github{
    margin-top: -30px;
    margin-bottom: -30px;
}

#linkedin{
    margin-top: -30px;
    margin-bottom: -30px;
}

#linkedin-small{
    display: none;
}

#intro{
    margin-bottom: 20px;
}

.hackathon-small{
    display: none;
}

.row img{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.container{
    margin-bottom:2%;
}

.footer{
    font-style: italic;
}

@media screen and (max-width: 991px) {
    #github {margin-top: 0px;}
}

@media screen and (max-width: 390px) {
    #linkedin-big {display: none;}
    #linkedin-small{display: block;}
    .hackathon-big{display: none;}
    .hackathon-small{display: block;}
}

#small-screen-resumes{
    display: none;
}

@media screen and (max-width: 800px) {
    .container{
        margin-right: 2%;
        margin-left: 2%;
    }
    .small{display: block;}
    .big{display: none;}
}

@media screen and (max-width: 520px) {
    #small-screen-resumes{display: block;}
    #big-screen-resumes{display: none;}
}